@typeparam TItem


<h3>Render Child Component</h3>

<br />

<p>
    @Header

    <div>
        @foreach(var item in Items)
        {
            @RepeterItem(item);
            <hr />
        }
    </div>

    @Footer
</p>


@code{
    [Parameter]
    public RenderFragment Header { get; set; }

    [Parameter]
    public RenderFragment Footer { get; set; }

    [Parameter]
    public List<TItem> Items { get; set; }

    [Parameter]
    public RenderFragment<TItem> RepeterItem { get; set; }
}