<h3>Child Component</h3>

<br /><br />

@BodyTemplate

<br />  
<p>Counter : @Counter</p>

<p>Counter Manual: @CounterManual</p>


@code{

    [Parameter]
    public int Counter { get; set; }

    public int CounterManual { get; set; }

    [Parameter]
    public RenderFragment BodyTemplate { get; set; }

    protected override void OnAfterRender(bool firstRender)
    {
        base.OnAfterRender(firstRender);
        Console.WriteLine($"Child Component - OnAfterRender at {DateTime.Now}");

    }

    public void Refresh()
    {
        this.StateHasChanged();
    }

}