@page "/counter"

<h1>Counter</h1>

<p>Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

<br />

@*<Component Counter="currentCount">
    <BodyTemplate>
        <button @onclick="ClickBody">Click in BodyTemplate</button>
    </BodyTemplate>
</Component>*@

<Component @ref="child"/>

@code {
    private int currentCount = 0;

    private Component child;

    private void IncrementCount()
    {
        currentCount++;
        child.CounterManual = currentCount * 2;
        child.Refresh();
    }

    protected override void OnAfterRender(bool firstRender)
    {
        base.OnAfterRender(firstRender);
        Console.WriteLine($"Counter - OnAfterRender at {DateTime.Now}");
    }

    private void ClickBody()
    {

    }
}
