@page "/"

<div>
    <a href="/databinding" class="btn btn-primary"> 23. Data Binding Part 1</a>
</div>

<br />

<div>
    <a href="/cascadingParameters" class="btn btn-primary"> 27. Cascading Parameters</a>
</div>

<br />

<div>
    <a href="/refChildComp" class="btn btn-primary">28. Referencing Child Components</a>
</div>

<br />

<div>
    <a href="/rederFragment" class="btn btn-primary">29. RenderFragment</a>
</div>

@code{

}