@page "/"

<div>
    <a href="/dynamiccomponent" class="btn btn-primary"> 5. Dynamic Component</a>
</div>

<br />

<div>
    <a href="/databinding" class="btn btn-primary"> 24. Data Binding Par 1 & 2 </a>
</div>

<br />

<div>
    <a href="/parameters" class="btn btn-primary"> 26. Regular, Route Parameters and EventCallback</a>
</div>

<br />


<div>
    <a href="/cascadingParameters" class="btn btn-primary"> 27. Cascading Parameters</a>
</div>

<br />

<div>
    <a href="/refChildComp" class="btn btn-primary">28. Referencing Child Components</a>
</div>

<br />

<div>
    <a href="/rederFragment" class="btn btn-primary">29. RenderFragment</a>
</div>

<br />

<div>
    <a href="/compLifeCycleEvents" class="btn btn-primary">31. Component Lifecycle Events</a>
</div>

<br />

<div>
    <a href="/formAndValidations" class="btn btn-primary">32. Forms and Validations</a>
</div>

<br />

<div>
    <a href="/counterState" class="btn btn-primary">33. State Management</a>
</div>

@code{

}