<div>
    <input type="text" @bind-value="filter" />
    <button class="btn btn-primary" @onclick="HandleSearch">Search</button>
</div>
<br />
<div>
    <input type="text" @bind-value="filter" @oninput="HandleSearchOnChange" />
</div>
<br />


@code{
    private string filter;

    [Parameter]
    public EventCallback<string> OnSearch { get; set; }

    public void HandleSearch()
    {
        OnSearch.InvokeAsync(filter);
    }

    public void HandleSearchOnChange(ChangeEventArgs e)
    {
        filter = e.Value.ToString();

        OnSearch.InvokeAsync(filter);
    }
}